.project {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project h1 {
  color: #cdcdff;
  font-size: 2rem;
  margin-top: 3rem;
}
.project img {
  margin-top: 2rem;
  width: 33rem;
  border-radius: 10px;
}

.project h4 {
  font-size: 1.4rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: #cdcdff;
}

.project svg {
  font-size: 40px;
  color: #cdcdff;
}

.desc {
  max-width: 40%;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
  color:#cdcdff;
  margin: 2rem;
}